.select {
	$this: &;

	position: relative;

	&__toggle {
		cursor: pointer;
        text-align: left;
        width: 100%;
		padding: 6px 25px 6px 15px;
		background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%);
		border-radius: var(--brs-card);
		font-weight: 300;

        &-text {
            position: relative;
            z-index: 1;
        }

		&::after {
			content: "";
			position: absolute;
			top: 9px;
			right: 11px;
			width: 11px;
			height: 10px;
			background-image: url(../images/icons/drop-arrow.svg);
			transition: var(--transition) transform;
		}

        &[aria-expanded="true"] {
            &::after {
                transform: rotate(180deg);
            }

            & ~ #{$this}__content {
                @include show();
            }
        }
	}

	&__content {
		@include padding-y(5px);
		position: absolute;
		top: calc(100% + 4px);
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: var(--white);
		box-shadow: $bsh-2;
		border-radius: var(--brs-card);
		transition: var(--transition) all;
		z-index: 30;
		@include hide();
	}

	&__input {
		display: none;

		&:checked + label {
			font-weight: 400;

			&::after {
				opacity: 1;
			}
		}
	}

	&__label {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		overflow: hidden;
		font-weight: 300;
		padding: 5px 25px 5px 10px;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 11px;
			width: 10px;
			height: 10px;
			background-image: url(../images/icons/check.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
			transition: var(--transition) opacity;
		}
	}

	&--style {
		&_border {
			#{$this} {
				&__toggle {
					background: transparent;
					border: 1px solid rgba(70, 70, 70, 0.55);
					color: rgba(var(--black-rgb), 0.6);
				}
			}
		}

        &_border-gradient { 
            #{$this} {
                &__toggle {
                    background: var(--accent);
                    
                    &::before {
                        content: '';
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        bottom: 1px;
                        left: 1px;
                        border-radius: var(--brs-card);
                        background-color: var(--white);
                    }
                }
            }
        }
	}
}
