.slider {
	&-wrap {
		position: relative;
        width: 100%;
	}

	&-arrows {
		left: -17px;
		right: -17px;

		.swiper-button {

			&-prev,
			&-next {
				width: 30px;
				height: 30px;
			}
		}
	}
}

.swiper-button {
	&-prev,
	&-next {
		margin: 0;

		&:after {
			content: '';
		}
	}

	&-prev {
		left: 0;
	}

	&-next {
		right: 0;
	}

	&-disabled {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
}
