.search-block {
	position: relative;
	display: flex;
	height: 28px;
	background: var(--accent);
	border-radius: var(--brs-card);

	&::before {
		content: '';
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		left: 1px;
		z-index: 1;
		background-color: var(--white);
		border-radius: var(--brs-card);
	}

	>* {
		position: relative;
		z-index: 2;
	}

	&__input {
		@include padding-x(12px);
		flex-grow: 1;
		width: 100%;
	}

	&__btn {
		padding: 6px;
	}
}
