body {
	min-width: 320px;
	font-style: normal;
	font-family: var(--main-font);
	font-size: var(--base-font);
	line-height: calc(16px / var(--base-font) * 100%);
	font-weight: 400;
	color: var(--color-default);

	@include media('767', max) {
        overflow-x: hidden;
    }

	&._lock {
		overflow-y: hidden;
	}
}

button,
input,
textarea {
	font-family: var(--main-font);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: none;

	table & {
		max-width: none;
	}
}

p {
	font-size: 14px;
	line-height: calc(24 / 14 * 100%);
	font-weight: 300;
}

.text-block {
	p {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.text-content {
	>picture {
		img {
			border-radius: var(--brs-xl);
		}
	}

	h2 {
		@include margin-y(15px);
		font-size: 24px;
		line-height: calc(30 / 24 * 100%);
		font-weight: 400;

        @include media('767', max) {
            font-size: 20px;
        }
	}

	h3 {
		@include margin-y(15px);
		font-size: 20px;
		line-height: calc(23 / 20 * 100%);
		font-weight: 400;

        @include media('767', max) {
            font-size: 18px;
        }
	}

	p {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: calc(19 / 16 * 100%);
	}

	ul {
		margin-left: 25px;
		list-style-type: disc;

		li {
			list-style-type: disc;
			font-size: 16px;
			line-height: calc(19 / 16 * 100%);
			font-weight: 300;
		}
	}
}

.card {
	background-color: var(--white);
	box-shadow: var(--bsh);
}
