.container {
	width: calc(var(--container-width) + var(--container-padding) * 2);
	max-width: 100%;
	@include padding-x(var(--container-padding));
	margin: 0 auto;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@include media('767', max) {
        overflow-x: hidden;
    }
}

.page {
	position: relative;
	flex: 1 0 auto;

	&-top {
		padding: 35px 0 22px;
	}
}

.grid-row {
    @include media('768', min) {
        display: grid;
	    gap: var(--gap);
        grid-template-columns: repeat(12, 1fr);
    }

    >* {
		@include media('767', max) {
            grid-column: 1 / -1;
        }
	}

	&--items {
        &_4 {
            grid-template-columns: repeat(4, 1fr);
            gap: 26px 32px;

            @include media('1200', max) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include media('1024', max) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media('767', max) {
                display: grid;
                gap: 15px;
            }
        }

		&_5 {
			grid-template-columns: repeat(5, 1fr);
			gap: 20px;

			@include media('1024', max) {
                grid-template-columns: repeat(4, 1fr);

				>* {
					&:last-child {
						display: none;
					}
				}
            }
		}
	}
}

.span {
    $this: &;

    &-2 {
        grid-column: span 2;
    
        &+#{$this}-3 {
            display: flex;
            justify-content: center;
    
            >* {
                @media(min-width: $xl) {
                    max-width: 188px;
                }
            }
        }
    }

    &-3 {
        @include media('768', min) {
            grid-column: span 3;
        }
    }

    &-4 {
        @include media('768', min) {
            grid-column: span 4;
        }
    }

    &-5 {
        @include media('768', min) {
            grid-column: span 5;
        }
    }

    &-7 {
        @include media('768', min) {
            grid-column: span 7;
        }
    }

    &-8 {
        @include media('768', min) {
            grid-column: span 8;
        }
    }

    &-9 {
        @include media('768', min) {
            grid-column: span 9;
        }
    }

    &-xl-4 {
        @include media('1200', max) {
            grid-column: span 3;
        }
    }

    &-lg-3 {
        @include media('1024', max) {
            grid-column: span 4;
        }
    }

    &-lg-6 {
        @include media('1024', max) {
            grid-column: span 6;
        }
    }

    &-md-2 {
        @include media('767', max) {
            grid-column: span 6;
        }
    }
}

.section-top {
	padding-bottom: 20px;
}

.catalog {
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		gap: 25px 12.5px;
	}

	&__body {
		@include row-grid(32px);
		align-content: start;
	}
}
