.container {
	width: calc(var(--container-width) + var(--container-padding) * 2);
	max-width: 100%;
	@include padding-x(var(--container-padding));
	margin: 0 auto;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@media(max-width: $lg) {
		overflow-x: hidden;
	}
}

.page {
	position: relative;
	flex: 1 0 auto;

	&-top {
		padding: 35px 0 22px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.grid-row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gap);

	&--items {
		&_5 {
			grid-template-columns: repeat(5, 1fr);
			gap: 20px;

			@media(max-width: $lg) {
				grid-template-columns: repeat(4, 1fr);

				>* {
					&:last-child {
						display: none;
					}
				}
			}
		}
	}

	>* {
		@media(max-width: $sm) {
			grid-column: 1 / -1;
		}
	}
}

.span-2 {
	grid-column: span 2;

	&+.span-3 {
		display: flex;
		justify-content: center;

		>* {
			@media(min-width: $xl) {
				max-width: 188px;
			}
		}
	}
}

.span-3 {
	grid-column: span 3;
}

.span-4 {
	grid-column: span 4;
}

.span-5 {
	grid-column: span 5;
}

.span-7 {
	grid-column: span 7;
}

.span-8 {
	grid-column: span 8;
}

.span-9 {
	grid-column: span 9;
}

.span-xl-4 {
	@media(max-width: $xl) {
		grid-column: span 3;
	}
}

.span-lg-3 {
	@media(max-width: $lg) {
		grid-column: span 4;
	}
}

.span-lg-6 {
	@media(max-width: $lg) {
		grid-column: span 6;
	}
}

.span-md-2 {
	@media(max-width: $md) {
		grid-column: span 6;
	}
}

.section-top {
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.catalog {
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		gap: 25px 12.5px;
	}

	&__body {
		@include row-grid(32px);
		align-content: start;
	}
}
