.lk-page {
	$this: &;

	padding: 10px 0 64px;

	&__grid {
		@include media('768', min) {
            grid-template-rows: repeat(2, auto);
		    row-gap: 20px;
        }

        @include media('767', max) {
            display: block;
        }
	}

	&__nav {
        @include media('768', min) {
            grid-row: 1 / -1;
        }

		@include media('1025', min) {
            grid-row: 2 / -1;
        }
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        @include media('768', min) {
            grid-column: 4 / -1;
        }

        @include media('767', max) {
            margin-bottom: 20px;
        }
	}

    &__body {
        @include media('768', min) {
            grid-column: 4 / span 9;
        }
    }

	&__title {
		margin-bottom: 22px;
		font-size: 22px;
		line-height: calc(26 / 22 * 100%);
		font-weight: 400;

        @include media('1024', max) {
            margin-bottom: 11px;
            font-size: 20px;
            line-height: 23px;
        }
	}

	&__subtitle {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: calc(19 / 16 * 100%);
		font-weight: 500;
	}

	&__back-btn {
		margin-right: auto;
		margin-left: 23px;
		padding: 9.5px 16px;
	}

	&__help-btn {
		padding: 8px 10px;
	}

	&__tabs {
		margin-bottom: 25px;

        @include media('1024', max) {
            margin-bottom: 16px;
        }
	}

	&__filters {
		margin-bottom: 25px;
		display: grid;
		grid-template-columns: 122px calc(374 / 952 * 100%) 1fr auto;
        grid-template-areas: 'select search . btn';
		gap: 20px;
		align-items: center;

        @include media('1024', max) {
            margin-bottom: 20px;
            grid-template-columns: max-content 204px 1fr auto;
            gap: 14px;
        }

        @include media('767', max) {
            grid-template-areas:
            'search search search'
            'select . btn'
            ;
            grid-template-columns: max-content 1fr auto;
        }
	}

	&__select {
		grid-area: select;
		font-size: 12px;
		line-height: 14px;
	}

	&__search {
		grid-area: search;
	}

	&__add-btn {
		padding: 14px 40.75px;
	}

    &__add-good-btn {
        padding: 12px 42.7px;
        grid-area: btn;

        @include media('1024', max) {
            padding: 10px 23px;
        }
    }

	&__add-variation-btn {
		padding: 6px 12.75px;
		border-radius: var(--brs-card);
	}

	&__check-all {
		margin-bottom: 12px;
		
        @include media('768', min) {
            margin-left: 20px;
        }
	}

	&__cards {
		margin-top: 20px;
		@include row-grid(27px);
	}

	&__discounts {
		margin-top: 27px;
	}

	&__road-tabs {
		margin-bottom: 23px;
	}

	&__nav-btns {
		margin-top: 75px;
		display: flex;
		justify-content: space-between;
		gap: 15px;
	}

	&__nav-btn {
		padding: 15.5px 60px;

		&--back,
		&--next {
			border-radius: var(--brs-card);
		}

		&--back {
			margin-left: auto;
		}
	}

	&__fields {
		@include row-grid(25px);
		justify-items: start;

        @include media('500', max) {
            display: flex;
            flex-direction: column;
        }

		>* {
			&:not(:last-child) {
				position: relative;
				padding-bottom: 25px;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 516px;
					height: 2px;
					background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%);

                    @include media('500', max) {
                        width: 100%;
                    }
				}
			}
		}
	}

	&__field {
		width: 187px;

        @include media('500', max) {
            width: 100%;
        }

		.select__toggle {
			padding: 7px 20px 7px 10px;
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__text-field {
		padding: 8px 14px;
		max-width: 360px;
        flex-grow: 1;
        
        @include media('500', max) {
            width: 100%;
            min-width: 100%;
        }
	}

	&__field+&__field {
		margin-left: 32px;
	}

	&__fields-items {
		@include row-grid(17px);
	}

	&__fields-item {
		display: flex;
		align-items: center;

        @include media('500', max) {
            flex-direction: column;
            align-items: flex-start;
        }

		&--start {
			align-items: flex-start;
		}
	}

	&__fields-group {
		position: relative;
		@include row-grid(25px);

		&:not(:last-child) {
			padding-bottom: 25px;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 516px;
				height: 2px;
				background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%);
			}
		}
	}

	&__action-btn {
		margin-left: 15px;
	}

	&__action-btn+&__action-btn {
		margin-left: 20px;
	}

	&__plus-btn {
		margin-left: 10px;
	}

	&__label {
		min-width: 148px;
		margin-right: 70px;
		font-weight: 300;

        @include media('1024', max) {
            margin-right: 25px;
            min-width: 130px;
        }

        @include media('500', max) {
            margin-right: 0;
            margin-bottom: 15px;
        }
	}

	b.lk-page__label {
		font-weight: 400;
	}

	&__notifications {
		width: 350px;
		@include row-grid(33px);
	}

	input#{$this}__field {
		padding: 6px 10px;
	}
}

.good-card {
	padding: 7px 34px 12px 18px;
	background-color: var(--white);
	box-shadow: $bsh-2;
	display: grid;
    grid-template-areas: 'check img good articul category price relatedGoods btns';
	grid-template-columns: repeat(2, auto) minmax(calc(159 / 952 * 100%), 0.6fr) max-content minmax(calc(243 / 952 * 100%), 0.9fr) max-content 13% auto;
	gap: 18px;

    @include media('1024', max) {
        grid-template-columns: repeat(2, auto) 1fr max-content calc(93 / 546 * 100%) max-content 75px auto;
        padding: 10px;
        gap: 10px;
    }

    @include media('767', max) {
        grid-template-columns: repeat(2, auto) repeat(3, 1fr) auto;
        grid-template-areas:
        'check img good articul category btns'
        '. . price relatedGoods relatedGoods btns'
        ;
    }

    @include media('500', max) {
        grid-template-columns: repeat(2, auto) repeat(2, 1fr) auto;
        grid-template-areas:
        'check img good articul btns'
        'price price category relatedGoods btns'
        ;
    }

	&__check {
        grid-area: check;
		align-self: center;

        .checkbox {
            &__style {
                @include media('1024', max) {
                    width: 16px;
                    height: 16px;
                }
            }

            &__input:checked ~ .checkbox__style {
                &::before {
                    @include media('1024', max) {
                        top: -1.45px;
                        left: 1.4px;
                        width: 15px;
                        height: 14px;
                    }
                }
            }
        }
	}

	// .good-card__img

	&__img {
        grid-area: img;
        width: 60px;
		height: 60px;
		align-self: center;

        @include media('1024', max) {
            width: 40px;
            height: 40px;
        }
	}

	&__col {
		@include padding-x(4px);
		font-size: 12px;
		line-height: 14px;
		font-weight: 300;

        &--good {
            grid-area: good;
        }

        &--articul {
            grid-area: articul;
        }

        &--category {
            grid-area: category;
        }

        &--price {
            grid-area: price;
        }

        &--related-goods {
            grid-area: relatedGoods;
        }
	}

	// .good-card__title

	&__title {
		margin-bottom: 12px;

        @include media('1024', max) {
            margin-bottom: 3px;
        }
	}

	// .good-card__text

	&__text {
		b {
			font-weight: 400;
		}
	}

	// .good-card__prices

	&__prices {
		gap: 5px;

        @include media('1024', max) {
            gap: 3px;
        }
	}

    &__price {
        @include media('1024', max) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__old-price {
        @include media('1024', max) {
            font-size: 8px;
            line-height: 10px;
        }
    }

	&__btns {
        grid-area: btns;
        align-self: start;
		@include row-grid(4px);

		.btn {
			width: 20px;
			height: 20px;
		}
	}
}
