.small-menu {
	display: flex;
	gap: 20px;

    @include media('1024', max) {
        gap: 10px;
    }

	&__link {
		font-size: 12px;
		line-height: 14px;
		font-weight: 300;

		.icon {
			width: 10px;
			height: 10px;

            @include media('1024', max) {
                width: 8px;
                height: 8px;
            }
		}
	}
}
