.catalog-section {
	@include padding-y(60px);

    @include media('767', max) {
        @include padding-y(30px);
    }

	&+.catalog-section {
		padding-top: 0;
	}

	&--with {
		&_bg {
			background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.1) 101.17%);
		}
	}

	&--cards-without {
		&_bg {
			.catalog-card {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}

	&__btn {
		margin-top: 20px;
		padding: 14px;
		grid-column: -3 / -1;

		@include media('1200', max) {
            grid-column: -4 / -1;
        }

		@include media('1024', max) {
            grid-column: -5 / -1;
        }

		@include media('767', max) {
            grid-column: 7 / span 6;
        }
	}
}

aside.catalog-section {
	padding-top: 30px;
	padding-bottom: 50px;

    @include media('767', max) {
        padding-bottom: 30px;
    }
}
