.menu {
    overflow-y: auto;

	&__heading {
		padding: 8px 30px;
		display: flex;
		align-items: center;
		background: var(--accent);
		color: var(--white);
		font-weight: 500;

		.icon {
			flex-shrink: 0;
			margin-right: 12px;
			width: 20px;
			height: 20px;
		}
	}

	&__body {
		padding: 12px 30px;

		>* {
			&:not(:last-child) {
				margin-bottom: 18px;
			}
		}
	}

	// .menu__list

	&__list {
		@include row-grid(9px);
	}

	&__list-item {
		gap: 12px;
		font-weight: 300;

		.icon {
			width: 20px;
			height: 20px;
		}

		@media (any-hover: hover) {
			&:hover {
				font-weight: 400;
			}
		}
	}
}
