.footer {
	padding: 40px 0;
	background: var(--accent);
	color: var(--white);
	// .footer__main

	&__main {
		margin: -15px -15px 20px;
		display: flex;
		justify-content: space-between;

        @include media('1024', max) {
            flex-wrap: wrap;
        }
	}

	// .footer__col

	&__col {
		padding: 15px;
		display: flex;
		flex-direction: column;

        @include media('1024', max) {
            width: 33.3333%;

            &:last-child {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr calc(33.3333% - 15px);
                gap: 30px;
            }
        }

        @include media('767', max) {
            width: 50%;

            &:last-child {
                display: grid;
                grid-template-columns: unset;
            }
        }
	}

	// .footer__title

	&__title {
		margin-bottom: 5px;
		font-size: 16px;
		line-height: calc(19 / 16 * 100%);
		font-weight: 500;
	}

	&__menu-link {
		line-height: calc(27 / 14 * 100%);
		color: var(--white);
		font-weight: 300;
	}

	// .footer__bottom

	&__bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	// .footer__copyright

	&__copyright {
		font-size: 12px;
		line-height: 14px;
	}

	&__subscribe {
		margin-bottom: 20px;
		width: 435px;

        @include media('1024', max) {
            width: 406px;
            margin-bottom: 0;
        }

        @include media('767', max) {
            width: 100%;
        }
	}
}