.promo {
	@include padding-y(10px);

    &__inner {
        @include media('1025', min) {
            row-gap: 24px;
            grid-template-rows: repeat(2, 162px);
        }
    }

    &__menu,
    &__slider {
        grid-row: 1 / -1;
    }

    &__slider {
        @include media('1024', max) {
            grid-column: 1 / -1;
        }
    }

    &__menu {
        display: none;

        @include media('1025', min) {
            display: block;
        }
    }
}
