.datepicker {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;

    &__value {
        padding: 6px 10px;
        background: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%);
        border-radius: var(--brs-card);
    }
}
